@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "helvetica";
  src: url("Montserrat-Medium.ttf");
}
body {
  font-family: "helvetica";
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  color: #f87171;
}

.custom-swiper .swiper-pagination-bullet {
  background: #f87171;
}

.custom-swiper .swiper-pagination-bullet-active {
  background: #f87171;
}
