@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 768px) and (max-width: 991px) {
  /* Target sm:grid-cols-2 */
  .grid-cols-2 .grid-item:last-child {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Target md:grid-cols-3 */
  .grid-cols-3 .grid-item:nth-child(-n + 2) {
    /* Select last 1 or 2 cards */
    margin-left: auto;
    margin-right: auto;
  }
}
